.film-id{
	width: 30px;
	display: block;
	float: left;
}

.film-name{
	width: 400px;
	display: block;
	float: left;
}

.film-year{
	width: 100px;
	display: block;
	float: left;
}

.film-container{
	clear: both;
}

.film-container:hover{
	background-color:#99CCFF;
}

.error {
	background-color:#FF6666;
}

.detail-caption, .edit-caption{
	width: 100px;
	display: block;
	float: left;
	line-height:50%;
}

.film-details, .edit-film{
	width: 600px;
	display: block;
	line-height:50%;
}

.film-detail-img {
	float:left;
}

.first-col {
	margin-left:30px;
}